In [46]:
import csv
import pandas as pd
import json
import ast
import operator

In [84]:
input_filename = "testoutput_100_mod.csv"

In [85]:
df = pd.read_csv (input_filename)
df.head()

,UID,screen_name,age,gender,org,Account status,gender_annotated,age_annotated,ethnicity,political affiliation,org status
0,4.311881e+09,oli1tita,"{'<=18': 0.271, '19-29': 0.5259, '30-39': 0.04...","{'male': 0.0181, 'female': 0.9819}","{'non-org': 0.9987, 'is-org': 0.0013}",active,undecided,undecided,undecided,undecided,NaN
1,1.262034e+18,red_votes,"{'<=18': 0.0029, '19-29': 0.0068, '30-39': 0.0...","{'male': 0.8542, 'female': 0.1458}","{'non-org': 0.3545, 'is-org': 0.6455}",suspended,NaN,NaN,NaN,NaN,NaN
2,1.114650e+18,biannacci,"{'<=18': 0.0007, '19-29': 0.0007, '30-39': 0.0...","{'male': 0.9996, 'female': 0.0004}","{'non-org': 0.9994, 'is-org': 0.0006}",active,male,>=40,white,republican,NaN
3,1.171517e+18,illycholga,"{'<=18': 0.0001, '19-29': 0.0001, '30-39': 0.0...","{'male': 0.0053, 'female': 0.9947}","{'non-org': 0.9992, 'is-org': 0.0008}",suspended,NaN,NaN,NaN,NaN,NaN
4,9.265891e+17,bb27654real,"{'<=18': 0.4208, '19-29': 0.1498, '30-39': 0.1...","{'male': 0.0252, 'female': 0.9748}","{'non-org': 0.9379, 'is-org': 0.0621}",active,female,undecided,black,democrat,NaN

In [86]:
df.dtypes

UID                      float64
screen_name               object
age                       object
gender                    object
org                       object
Account status            object
gender_annotated          object
age_annotated             object
ethnicity                 object
political affiliation     object
org status                object
dtype: object

In [87]:
def get_age_stats(row):
    temp_dict = ast.literal_eval(row)
    max_assigned_age = max(temp_dict.items(), key=operator.itemgetter(1))[0]
    return max_assigned_age

In [88]:
def get_gender_stats(row):
    temp_dict = ast.literal_eval(row)
    max_assigned_gender = max(temp_dict.items(), key=operator.itemgetter(1))[0]
    return max_assigned_gender

In [89]:
def get_org_stats(row):
    temp_dict = ast.literal_eval(row)
    max_assigned_org = max(temp_dict.items(), key=operator.itemgetter(1))[0]
    return max_assigned_org

In [90]:
df['age_assigned'] = df['age'].apply(get_age_stats)

In [91]:
df['org_assigned'] = df['org'].apply(get_org_stats)

In [92]:
df['gender_assigned'] = df['gender'].apply(get_gender_stats)

In [93]:
df.head()

,UID,screen_name,age,gender,org,Account status,gender_annotated,age_annotated,ethnicity,political affiliation,org status,age_assigned,org_assigned,gender_assigned
0,4.311881e+09,oli1tita,"{'<=18': 0.271, '19-29': 0.5259, '30-39': 0.04...","{'male': 0.0181, 'female': 0.9819}","{'non-org': 0.9987, 'is-org': 0.0013}",active,undecided,undecided,undecided,undecided,NaN,19-29,non-org,female
1,1.262034e+18,red_votes,"{'<=18': 0.0029, '19-29': 0.0068, '30-39': 0.0...","{'male': 0.8542, 'female': 0.1458}","{'non-org': 0.3545, 'is-org': 0.6455}",suspended,NaN,NaN,NaN,NaN,NaN,>=40,is-org,male
2,1.114650e+18,biannacci,"{'<=18': 0.0007, '19-29': 0.0007, '30-39': 0.0...","{'male': 0.9996, 'female': 0.0004}","{'non-org': 0.9994, 'is-org': 0.0006}",active,male,>=40,white,republican,NaN,>=40,non-org,male
3,1.171517e+18,illycholga,"{'<=18': 0.0001, '19-29': 0.0001, '30-39': 0.0...","{'male': 0.0053, 'female': 0.9947}","{'non-org': 0.9992, 'is-org': 0.0008}",suspended,NaN,NaN,NaN,NaN,NaN,>=40,non-org,female
4,9.265891e+17,bb27654real,"{'<=18': 0.4208, '19-29': 0.1498, '30-39': 0.1...","{'male': 0.0252, 'female': 0.9748}","{'non-org': 0.9379, 'is-org': 0.0621}",active,female,undecided,black,democrat,NaN,<=18,non-org,female

In [94]:
#get only the active accounts
df["Account status"].value_counts()

active       61
suspended    39
Name: Account status, dtype: int64

In [95]:
active_accounts = df[df["Account status"]=="active"]

In [96]:
active_accounts.head()

,UID,screen_name,age,gender,org,Account status,gender_annotated,age_annotated,ethnicity,political affiliation,org status,age_assigned,org_assigned,gender_assigned
0,4.311881e+09,oli1tita,"{'<=18': 0.271, '19-29': 0.5259, '30-39': 0.04...","{'male': 0.0181, 'female': 0.9819}","{'non-org': 0.9987, 'is-org': 0.0013}",active,undecided,undecided,undecided,undecided,NaN,19-29,non-org,female
2,1.114650e+18,biannacci,"{'<=18': 0.0007, '19-29': 0.0007, '30-39': 0.0...","{'male': 0.9996, 'female': 0.0004}","{'non-org': 0.9994, 'is-org': 0.0006}",active,male,>=40,white,republican,NaN,>=40,non-org,male
4,9.265891e+17,bb27654real,"{'<=18': 0.4208, '19-29': 0.1498, '30-39': 0.1...","{'male': 0.0252, 'female': 0.9748}","{'non-org': 0.9379, 'is-org': 0.0621}",active,female,undecided,black,democrat,NaN,<=18,non-org,female
5,2.195390e+09,westtexaslivin,"{'<=18': 0.0073, '19-29': 0.0217, '30-39': 0.0...","{'male': 0.9874, 'female': 0.0126}","{'non-org': 0.9952, 'is-org': 0.0048}",active,male,>=40,undecided,republican,NaN,>=40,non-org,male
7,2.675269e+07,petedky,"{'<=18': 0.0001, '19-29': 0.0002, '30-39': 0.0...","{'male': 0.9995, 'female': 0.0005}","{'non-org': 0.9999, 'is-org': 0.0001}",active,male,>=40,white,democrat,NaN,>=40,non-org,male

In [97]:
active_accounts['age_assigned'].value_counts()

>=40     36
19-29    13
30-39     9
<=18      3
Name: age_assigned, dtype: int64

In [98]:
active_accounts['org_assigned'].value_counts()

non-org    59
is-org      2
Name: org_assigned, dtype: int64

In [99]:
active_accounts['gender_assigned'].value_counts()

male      40
female    21
Name: gender_assigned, dtype: int64

In [100]:
active_accounts.loc[active_accounts['org_assigned'] == 'is-org']

,UID,screen_name,age,gender,org,Account status,gender_annotated,age_annotated,ethnicity,political affiliation,org status,age_assigned,org_assigned,gender_assigned
55,1.870437e+07,birtha6star,"{'<=18': 0.2705, '19-29': 0.4908, '30-39': 0.1...","{'male': 0.1725, 'female': 0.8275}","{'non-org': 0.1823, 'is-org': 0.8177}",active,female,undecided,undecided,democrat,NaN,19-29,is-org,female
95,1.232756e+18,20maga2020,"{'<=18': 0.0202, '19-29': 0.0174, '30-39': 0.0...","{'male': 0.7325, 'female': 0.2675}","{'non-org': 0.3484, 'is-org': 0.6516}",active,undecided,undecided,undecided,republican,ORG,>=40,is-org,male

In [101]:
df2 = pd.crosstab(active_accounts.gender_assigned, active_accounts.gender_annotated)
df2

gender_annotated  female  male  undecided
gender_assigned
female                18     2          1
male                   4    27          9

In [102]:
df3 = pd.crosstab(active_accounts.age_assigned, active_accounts.age_annotated)
df3

age_annotated  19-29  30-39  <=18  >=40  undecided
age_assigned
19-29              2      3     1     1          6
30-39              0      3     0     3          3
<=18               0      0     0     1          2
>=40               2      4     0    15         15

In [103]:
active_accounts['political affiliation'].value_counts()

democrat       27
republican     24
undecided       7
independent     3
Name: political affiliation, dtype: int64